In [1]:
# importing libraries
import pandas as pd
import numpy as np
from bokeh.plotting import figure
from bokeh.io import output_file, show
from bokeh.sampledata.iris import flowers
from bokeh.models import Range1d, PanTool, ResetTool, HoverTool, WheelZoomTool
from screeninfo import get_monitors

In [2]:
df=pd.read_csv('Data/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [42]:
# converting date column to readable date format ex: 20141013 to 2014-10-13

df['just_date'] =  pd.to_datetime(df['date'])

df['just_date'] = df['just_date'].apply(str)

df['year'] = df.just_date.str[0:4]

df['month'] = df.just_date.str[5:7]

In [51]:
#Define the output file path
output_file("HouseSalesHistogram.html")
 
#Create the figure object
f=figure(tools=[PanTool(),ResetTool(),WheelZoomTool()])
 
#Style the plot area
f.background_fill_color="grey"
f.background_fill_alpha=0.1
f.sizing_mode="stretch_both" #graph will resize itself when user resizes the browser
 
#Style the title
f.title.text="Monthly House sales "
f.title.text_color="olive"
f.title.text_alpha=0.6
f.title.text_font="antiqua"
f.title.text_font_size="18px"
f.title.align="center"
 
#Style the axes
f.yaxis.major_label_orientation="vertical"
f.xaxis.minor_tick_in=-6
f.yaxis.minor_tick_in=-6
f.axis.minor_tick_line_color="grey"
f.axis.axis_line_color="olive"
f.xaxis.axis_label="Month"
f.yaxis.axis_label="Sales"
f.axis.axis_label_text_color="olive"
f.axis.axis_label_text_font="antiqua"
f.axis.axis_label_text_font_style="bold"
f.axis.major_label_text_color="olive"
  
#Style the grid
f.grid.grid_line_color=(128,128,0,0.5) #equivalent to olive color with a 0.5 alpha value
f.grid.grid_line_dash=[5,3] #5 pixels of line and 3 pixels of space 
f.grid.minor_grid_line_color=(128,128,0,0.1) #equivalent to olive color with a 0.1 alpha value
f.grid.minor_grid_line_dash=[3,3]

#dataframe = [df['just_date'].str[:4]][:15]
 
# hist = Histogram(dataframe, values='just_date', title="House Sales by Date", plot_width=400)

monthMap = {'01': 'January', '02': 'February', '03': 'March', '04': 'April', '05': 'May',
            '06': 'June', '07': 'July', '08': 'August', '09': 'September', '10': 'October', '11': 'November', '12': 'December'}

df['month_name'] = df['month'].apply(lambda x: monthMap[x])

hist, edges = np.histogram(df.month.apply(int), density=True, bins=12)

f.quad(top=hist, bottom=0, left=edges[:-1], right=edges[1:],
        fill_color="#036564", line_color="#033649")
 
#Style the legend
f.legend.location="top_left"
f.legend.background_fill_alpha=0
f.legend.border_line_color=None
f.legend.legend_margin=10
f.legend.legend_padding=18
f.legend.legend_spacing=1
f.legend.label_text_color='olive'
f.legend.label_text_font='antiqua'
 
#Save and show the figure
show(f)