In [36]:
# importing libraries
import pandas as pd
import numpy as np
from bokeh.plotting import figure
from bokeh.io import output_file, show
from bokeh.sampledata.iris import flowers
from bokeh.models import Range1d, PanTool, ResetTool, HoverTool, WheelZoomTool, ColumnDataSource
from screeninfo import get_monitors

In [2]:
df=pd.read_csv('Data/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [17]:
df = df[df.bedrooms != 33]

In [20]:
df.bedrooms.unique()

array([ 3,  2,  4,  5,  1,  6,  7,  0,  8,  9, 11, 10], dtype=int64)

In [25]:
divmod(5, 4)

(1, 1)

In [42]:
#Plotting correlation between House Grade and House Price
 
#Define the output file path
output_file("HouseGradePrice.html")
 
#Create the figure object
f=figure(tools=[PanTool(),ResetTool(),WheelZoomTool()])
  
#Style the plot area
f.plot_width=get_monitors()[0].width #get_monitors is part of the screeninfo module imported above
f.plot_height=get_monitors()[0].height-50 #get_monitors is part of the screeninfo module imported above
f.background_fill_color="grey"
f.background_fill_alpha=0.1
f.sizing_mode="stretch_both" #graph will resize itself when user resizes the browser
 
#Style the title
f.title.text="Correlation Between House design and price"
f.title.text_color="olive"
f.title.text_alpha=0.6
f.title.text_font="antiqua"
f.title.text_font_size="18px"
f.title.align="center"


smallhomes=ColumnDataSource(df[df["bedrooms"] < 4])
mediumhomes=ColumnDataSource(df[(df["bedrooms"] >= 4) & (df["bedrooms"] < 8)])
largehomes=ColumnDataSource(df[df["bedrooms"] >=8])
 
#Style the axes
f.yaxis.major_label_orientation="vertical"
f.xaxis.minor_tick_in=-6
f.yaxis.minor_tick_in=-6
f.axis.minor_tick_line_color="grey"
f.axis.axis_line_color="olive"
f.xaxis.axis_label="Grade"
f.yaxis.axis_label="Price"
f.axis.axis_label_text_color="olive"
f.axis.axis_label_text_font="antiqua"
f.axis.axis_label_text_font_style="bold"
f.axis.major_label_text_color="olive"
 
#Axes geometry
f.x_range=Range1d(start=df["grade"].min(),end=df["grade"].max() + 1)
f.y_range=Range1d(start=df["price"].min(),end=df["price"].max())

colormap={0:'red', 1:'green', 2:'blue'}
df['color']=[colormap[divmod(x, 4)[0]] for x in df['bedrooms']]
  
#adding glyphs
f.circle(x="grade", y="price", color="red", legend="0 - 3 Bedrooms", fill_alpha=0.2,line_dash=[5,3], source=smallhomes)
f.circle(x="grade", y="price", color="green", legend="4 - 7 Bedrooms", fill_alpha=0.2,line_dash=[5,3], source=mediumhomes)
f.circle(x="grade", y="price", color="blue", legend=" 8 - 11 Bedrooms", fill_alpha=0.2,line_dash=[5,3], source=largehomes)


#Save and show the figure
show(f)